#wrapper {
    margin: 10px auto 0;
    padding: 20px 30px;
    text-align: left;
    width: 720px;
    height: 300px;
}

.revolver.stack .slide {
    left: 0;
    position: absolute;
    top: 0;
}

.revolver.inline .slide {
    border-style: solid;
    margin: 0;
    padding: 0;
    position: static;
}

.revolver.reveal .slide {
    height: 300px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 720px;
}
