		*{
			margin: 0;
			padding: 0;
		}
		#header {
			width: 1200px;
			height: 150px;
			margin: 0 auto;
		}
		#title {
			float: left;
			width: 300px;
			height: 100px;
		}
		h1 {
			font-family: 'Koulen', cursive;
			font-size: 50pt;
			font-variant-position: buttom;
		}
		#nav { 
			float: right;
			width: 700px;
			height: 50px;
		}
		#top {
			text-align: right;
			font-size: 10pt;
		}
		#main {
			font-size: 14pt;
			position: relative;
			z-index: 999;

		}
		.commonnav {
			display: inline-block;
			line-height: 45pt;
			list-style: none;
			padding-top: 0;
			padding-left: 10pt;
		}		
		footer {
			width: 100%;
			height: 220px;
			margin-top: 70px;
			background-color: #EAEAEA;
		}
		#footer {
			width: 1200px;
			height: 150px;
			margin: 0 auto;
		}
		.footerlv1{
			width: 150px;
			list-style: none;
			float: left;
			margin: 0 50px;
			font-size: 12pt;
			font-weight: bold;
		}
		.footerlv1 > ul {
			font-weight: normal;
			list-style: none;
			font-size: 8pt;
		}
		.footerlv1 > ul > li{
			margin: 8px 0;
		}
		.commonlink:link {
			color: black;
			text-decoration-line: none;
		}
		
		.commonlink:visited{
			color: black;
			display: flex;
			justify-content : center;
		}
		.topnavlink:visited{
			color: black;
		}
		.topnavlink:link{
			text-decoration-line: none;
			color:black;
		}
	
		.commonlink:hover{
			color : white;
			background-color:  #00B4DB;
		}
		
		.commonlink{
			width: 120px;
			height: 50px;
			font-size: 16pt;
			font-weight: bold;
			display: flex;
			justify-content : center;
			background-color: white;
		}
		.menu1{
			height: 180px;
		}
		#main > li {
			display: inline-block;
			line-height: 45pt;
			list-style: none;
			float: left;
			color:#00B4DB;
		}
		#top > li {
			display: inline-block;
			line-height: 45pt;
			list-style: none;
			padding-top: 0;
			padding-left: 10pt;
		}
		.middlesectionlist{
			font-weight: bold;
			float: left;
			width: 250px; height: 250px;
			margin: 25px;
			border:black 1px solid;
			box-sizing: border-box;
		}
		.middlesection{
			width: 1200px; margin: 0 auto;

		}
		.listtitle{
			text-align: center; margin: 20px; font-size: 20pt;
		}
		.radiochoice{
			width: 15px; height: 15px; 
		}
		.tripchoice{
			font-size: 15px; margin-top: 5px;
			height: 30px; border:none;
			border-radius: 10px;
		}
		.lichoice{
			padding: 0 10px 0 10px;
			margin: 20px;
			list-style: none;
		}
		.airplainchoice{
			padding: 0 10px 0 10px;
			margin: 20px;
			float: left;
		}
		.airplainchoice > input{
			height: 30px; border :none;
			font-size: 12pt;
			font-family: bold;
		}
		.moreinfobtn{
			 width: 1200px; height: 50px; float: left;
		}
		.menu1 > li{
			background-color: white;
			font-size: 11pt;
			list-style: none;
			text-align: center;
			opacity: 0.8;
		}
		.tabsearch{
			height: 35px; border-radius:10px; width: 100px; margin-left: 50px; 
		}
