.mainheader{
	width: 1200px;
}
.mainsection{
	width: 1200px;
	height: 700px;
	border-style: solid;
	margin: 10px auto 10px auto;
}

.contents{
	width: 1000px;
	height: 500px;
	margin: 20px auto 0 auto;
}
.buttonbox{
	
}
.wrtiebutton{
	
}